.about-page {
  padding: 0 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  color: #f4f4f4;
  font-family: 'Inter', Arial, sans-serif;

  // &__body {
  //   padding: 0 20px;
  // }

  &__hero {
    text-align: center;
    padding: 40px 0 60px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #0e0d0d, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {
      font-size: 2.2rem;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    color: #a1a1a1;
  }

  &__content {
    margin-top: 60px;
  }

  &__section {
    margin-bottom: 80px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
  }

  &__text {
    line-height: 1.6;
    color: #a1a1a1;
    font-size: 1.1rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media screen and (max-width: 440px) {
      grid-template-columns: 1fr; // Stack on tablet/mobile
    }
  }

  &__card {
    background: #111;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #222;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &--featured {
      border-color: #ffffff;
      background: #111;
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 15px;
      color: #fff;
    }

    &-text {
      color: #888;
      font-size: 0.95rem;
      line-height: 1.5;
    }
  }
}