.global {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #e4e4e4;
    font-family: 'Inter', Arial, sans-serif;
}