*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
}

.global {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
