.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 69px;
  background: var(--footer-bg);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--border-color);
  z-index: 1000;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-tertiary);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    flex: 1;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;

    &.is-active {
      color: var(--primary-theme);
    }
  }

  &__popover {
    position: absolute;
    bottom: 85px;
    right: 20px;
    background: var(--bg-header);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    width: 160px;
    // padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &.is-visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.popover-item {
  display: flex;
  align-items: center;
  row-gap: 16px;
  column-gap: 12px;
  padding: 12px;
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 0.875rem;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &.logout {
    border-top: 1px solid var(--border-color);
    color: var(--error-text);
  }
}