.settings-page {
  background: var(--bg-main);
  min-height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: calc(1rem + env(safe-area-inset-top)); 
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    top: 0;
    z-index: 10;
    background: var(--bg-nav);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-primary);

    h1 {
      font-size: 1.1rem;
      font-weight: 800;
      text-transform: uppercase;
    }
    .back-circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: var(--bg-header);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
  }

  &__content {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 1.25rem 4.5rem 1.25rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.settings-group {
  margin-bottom: 2rem;

  &__title {
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0.75rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 6px;

    &--danger {
      color: var(--error-text);
    }
  }
}

.settings-list {
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;

  &--danger {
    border-color: #ff0000;
    margin: 0 0 10px 0;
  }
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  border: none;
  border-bottom: 1px solid var(--border-color);
  text-decoration: none;
  color: inherit;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  &--btn {
    width: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    .item-label {
      font-weight: 600;
      font-size: 0.95rem;
      color: var(--text-primary);

      &--alert {
        color: var(--error-text)
      }
    }
    .item-desc {
      font-size: 0.75rem;
      color: var(--text-tertiary);
    }
  }
}

.ios-toggle {
  width: 50px;
  height: 28px;
  background: #e9e9ea;
  border-radius: 20px;
  border: none;
  position: relative;
  transition: 0.3s;
  cursor: pointer;

  &.active {
    background: var(--primary-theme);
    .ios-toggle__knob {
      transform: translateX(22px);
    }
  }

  &__knob {
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.version-tag {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--text-primary);
  background: var(--bg-main);
  padding: 4px 8px;
  border-radius: 6px;
}

.text-danger {
  color: var(--error-text);
  font-weight: 700;
}
